
.app-container {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}


.main-container {
  display: flex;
  flex: 1;
}


.content-container {
  flex: 1;
  padding: 20px;
  background-color: #f9f9f9;
  margin-left: 200px;
  overflow-y: auto;
}

@media (max-width: 768px) {
  .content-container {
    margin-left: 0;
  }
}